extends includes/base

block selected
  selected = '/bayer.html'

block main
  article
    h1 Herbert Bayer
    p
      | Every graphic designer has their favorite pioneers of the industry, and I am no different! The works and lives of Lasar El Lisstitzky, Herbert Bayer and Herbert Matter are constant sources of inspiration for me, and compelled me to create the following 3 posters.
  .project
    img(src='images/herbertbayer.jpg', width='800', height='600', alt='Herbert Bayer Poster')








