extends includes/base

block selected
  selected = '/br-citystats.html'

block main
  article
    h1 Baton Rouge City Stats
    p
      | My work explores the relationship between the universality of myth and life as performance.
      | With influences as diverse as Rousseau and Andy Warhol, new variations are created from both explicit and implicit narratives.
  .project
    img(src='images/citystatscover.png', width='800', height='600', alt='Baton Rouge City Stats Cover')
  .project
    img(src='images/citystats1.png', width='800', height='536', alt='Baton Rouge City Stats')
  .project
    img(src='images/citystats2.png', width='800', height='600', alt='Baton Rouge City Stats')
  .project
    img(src='images/citystats3.png', width='800', height='600', alt='Baton Rouge City Stats')
