extends includes/base

block selected
  selected = '/br-citystats.html'

block main
  article
    h1 CityStats
    h2 Print Publication&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Baton Rouge Area Foundation (BRAF)
    p
      | The Baton Rouge CityStats &quot;tracks the quality of life for East Baton Rouge, using more than 70 indicators&quot;. The results of the various surveys are displayed in this 28 page publication. CityStats is an annual project of the Baton Rouge Area Foundation (BRAF). 
    p 
      | Download the full document <a href='http://www.braf.org/assets/docs/CityStats/CityStats%202012.pdf' target='_blank' style='color: red'>here.</a>
  .project
    img(src='images/citystats1.jpg', width='800', height='600', alt='Baton Rouge City Stats Cover')
  .project
    img(src='images/citystats2.jpg', width='800', height='536', alt='Baton Rouge City Stats')
  .project
    img(src='images/citystats3.jpg', width='800', height='536', alt='Baton Rouge City Stats')
  .project
    img(src='images/citystats4.jpg', width='800', height='600', alt='Baton Rouge City Stats')
