extends includes/base

block selected
  selected = '/br-transit-tax.html'

block main
  article
    h1 Baton Rouge Transit Tax Infographic
    p
      | 2 page Infographic outlining the causes and effects of a new transit tax passed in Baton Rouge in April 2012.
  .project
    img(src='images/catstax1.jpg', width='800', height='600', alt='Baton Rouge Transit Tax Infographic')
  .project
    img(src='images/catstax3.jpg', width='800', height='600', alt='Baton Rouge Transit Tax Infographic')
  .project
    img(src='images/catstax2.jpg', width='732', height='859', alt='Baton Rouge Transit Tax Infographic')

