extends includes/base

block selected
  selected = '/ccs.html'

block main
  article
    h1 The Center for Campus Sustainability (CCS)
    h2 Identity Creation, Promotional Brochure, Event Banners, Web-based Annual Report&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Center for Campus Sustainability (CCS)
    p
      | <em>The Center for Campus Sustainability</em> (CCS) is a new department within the office of Facility Services at LSU. I was employed by the CCS to design their identity and graphic communications. The brief required a department logo, color scheme, and visual signifiers for the four sub-departments of the CCS - <em>Energy, Facility, Materials</em> and <em>Process</em>. The printed promotional materials included a two color <em>Year at a Glance</em> trifold brochure, and large scale banners for use at conventions and site-specific events. The trifold brochure was printed in a limited run, thereafter made available as pdf downloads through the CCS website.
  .project
    img(src='images/ccs1.jpg', width='800', height='350', alt='Center for Campus Sustainability')
  .project
    img(src='images/ccs2.jpg', width='800', height='337', alt='Center for Campus Sustainability')
  .project
    img(src='images/ccs3.jpg', width='800', height='600', alt='Center for Campus Sustainability')
  .project
    p.border-top
      | The CCS annual report was designed as an interactive publication to be viewed online, giving the reader the opportunity to print the report if desired. The publication is a full color, 8.5" x 11", 60 page report.

      | Use the arrows at the foot of the document for navigation. Roll over the Contents footer to access the table of contents on any page.
    embed.borders(src='swf/ccs-annual-report.swf')    
