extends includes/base

block selected
  selected = '/cct.html'

block main
  article
    h1 CCT Wall installation &amp; Signage
    h2 Installation &amp; Signage&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: CCT (Center for Computation &amp; Technology)
    p
      | The two wall displays, installed in the administration wing of the CCT building, communicate the focus upon creative and multi-disciplinary initiatives driving the department. In collaboration with computer programmer Derick Ostrenko, the CCT mission statement was recreated as a set of visuals and colors using Processing - an open source programming language. In addition to the wall displays, a signage system was implemented across the building's 4 floors.
    p
      | Project Co-ordinator: Courtney Barr.
  .project
    img(src='images/cct1.jpg', width='800', height='450', alt='CCT Wall Display')
  .project
    img(src='images/cct2.jpg', width='800', height='412', alt='CCT Wall Display')
  .project
    img(src='images/cctdetail.png', width='800', height='200', alt='CCT Wall Display')
    h4 Detail
  .project
    img(src='images/cctdetail2.png', width='800', height='200', alt='CCT Wall Display')
    h4 Detail
  .project
    img(src='images/cct-photo-1.png', width='800', height='525', alt='CCT Wall Display')
  .project
    img(src='images/cct-photo-2.png', width='800', height='525', alt='CCT Wall Display')
  .project
    img(src='images/cct3.png', width='800', height='460', alt='CCT Signage')
  .project
    img(src='images/cct-signage.jpg', width='800', height='256', alt='CCT Signage')

