extends includes/base

block selected
  selected = '/cct.html'

block main
  article
    h1 CCT Wall installation &amp; Signage
    h2 Installation &amp; Signage&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: CCT (Center for Computation &amp; Technology)
    p
      | CCT is on the cutting edge of technology, and boasts a faculty of internationally renowned Computer Scientists, Engineers, and Programmers. CCT excels in cross-disciplinary initiatives that combine technology with the arts. 
    p
      | The two wall displays, installed in the administration wing of the CCT building, communicate the focus upon creative and multi-disciplinary initiatives driving the department. Using Processing - an open source programming language - the content of the CCT mission statement (characters, letters, and words) was recreated as a set of algorithms, whereby pressing certain keys on a keyboard in random sequences created line strokes that overlayed, and changed direction and length. A Color scheme and typographic system gave the code a visual presence to communicate the core concepts of creativity, collaboration, and technology.
    p 
      | In addition to the wall displays, the new visual system was implemented into signage for the building's 4 floors.
    p
      | Project Co-ordinator: Courtney Barr
    p
      | Computer Programmer: Derick Ostrenko
  .project
    img(src='images/cct1.jpg', width='800', height='450', alt='CCT Wall Display')
  .project
    img(src='images/cct2.jpg', width='800', height='338', alt='CCT Wall Display')
  .project
    img(src='images/cctdetail1.jpg', width='800', height='200', alt='CCT Wall Display')
    h4 Detail
  .project
    img(src='images/cctdetail2.jpg', width='800', height='200', alt='CCT Wall Display')
    h4 Detail
  .project
    img(src='images/cct-photo-1.jpg', width='800', height='525', alt='CCT Wall Display')
  .project
    img(src='images/cct-photo-2.jpg', width='800', height='525', alt='CCT Wall Display')
  .project
    img(src='images/cctwallsign.jpg', width='800', height='460', alt='CCT Signage')
  .project
    img(src='images/cct-signage.jpg', width='800', height='256', alt='CCT Signage')

