extends includes/base

block selected
  selected = '/decode72.html'

block main
  article
    h1 Decode72
    h2 Identity Creation, Stationery, Web Design &amp; Development, UI Design&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Decode72
    p
      | Decode72 is a programmer/designer collaborative in branding, web design, and software applications. The name &quot;Decode72&quot; is a combination of &quot;Design&quot; and &quot;Code&quot; as the three members of Decode72 comprise of a Graphic Designer and two software developers. The number 72 refers to 72dpi, historically the resolution of screen media.
  .project
    a(href='http://decode72.com', target='_blank')
      img(src='images/d72-web.jpg', width='800', height='567', alt='Decode72 Website')
  .project
    img(src='images/d72-cards.jpg', width='800', height='600', alt='Decode72 Business Cards')
  .project
    img(src='images/d72-stationery.png', width='800', height='573', alt='Decode72 Stationery')

