extends includes/base

block selected
  selected = '/gdh-series.html'

block main
  article
    h1 20th Century | History of Graphic Design
    h2 Print Poster Series
    p
      | My love of graphic design history (in particular the 20th century) compelled me to design this series of posters - essentially a timeline of 20th century graphic design. I created 5 main categories; Technological Advancements, World Events, Graphic Design Pioneers, Graphic Design Milestones, and Art Movements. These categories were then color coded to help define the who-what-where-when nature of historical timelines.
  .project
    img(src='images/gdh1.jpg', width='800', height='440', alt='20th Century History of Graphic Design')
  .project
    img(src='images/gdh2.jpg', width='800', height='180', alt='20th Century History of Graphic Design')
  .project
    img(src='images/gdh3.jpg', width='800', height='180', alt='20th Century History of Graphic Design')
  .project
    img(src='images/gdh4.jpg', width='800', height='175', alt='20th Century History of Graphic Design')