extends includes/base

block selected
  selected = '/gdhit.html'

block main
  article
    h1 GDHit (Graphic Design History Interactive Timeline)
    h2 Concept, Research, Web Design &amp; Development&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;MFA Thesis Project
    p
      | As a design history enthusiast, I was disappointed at the lack of accessible, user intuitive, and aesthetically pleasing online resources for graphic design history. For my MFA thesis project (working with two software developers) I created GDHit - a user-generated resource for students, faculty, graphic designers, and just about anyone who is interested in the history of graphic design. 
    p
      | One of the key requirements of the web application was the ability to filter content in a non-linear fashion, creating a seamless and uninterrupted experience print media isn't capable of. The timeline is filtered by decade, and users can filter and view articles via categories and events of graphic design, tagged words, or through searching the database. Users are encouraged to contribute knowledgable content of their own.
    
  .project
    a(href='http://gdhit.org', target='_blank')
      img(src='images/gdhit-web.jpg', width='800', height='567', alt='Graphic Design History Interactive Timeline')
  .project
    img(src='images/gdhit2.jpg', width='800', height='492', alt='Graphic Design History Interactive Timeline')
  .project
    img(src='images/gdhit3.jpg', width='800', height='492', alt='Graphic Design History Interactive Timeline')




