!!! 5
html
  head
    title Phil Winfield | Graphic Designer
    include includes/head
  body
    #container
      header
        #logo
          h3
            | PHIL WINFIELD
            img(src='images/logo.png', width='75', height='75', alt='logo')
            | GRAPHIC DESIGNER
        include includes/nav
      section#thumbnails-wrap
        .thumbs
          a(href='killer-poboys.html')
            img(src='images/thumb-kp.png', width='200', height='200', alt='Killer Poboys Identity and Promotion')
        .thumbs
          a(href='decode72.html')
            img(src='images/thumb-d72.png', width='200', height='200', alt='Decode72')
        .thumbs
          a(href='kinobi.html')
            img(src='images/thumb-kinobi.png', width='200', height='200', alt='Kinobi')
        .thumbs
          a(href='gdhit.html')
            img(src='images/thumb-gdhit.png', width='200', height='200', alt='Graphic Design Interactive Timeline')
        .thumbs
          a(href='br-citystats.html')
            img(src='images/thumb-citystats.png', width='200', height='200', alt='Baton Rouge City Stats')
        .thumbs
          a(href='social-fabrics.html')
            img(src='images/thumb-sf.png', width='200', height='200', alt='Social Fabrics Promotion')
        .thumbs
          a(href='green-world.html')
            img(src='images/thumb-greenworld.png', width='200', height='200', alt='Its a Green World Infographic')
        .thumbs
          a(href='ccs.html')
            img(src='images/thumb-ccs.png', width='200', height='200', alt='Center for Campus Sustainability')
        .thumbs
          a(href='oilspill.html')
            img(src='images/thumb-bp.png', width='200', height='200', alt='BP Oil Spill Poster')
        .thumbs
          a(href='lissitzky.html')
            img(src='images/thumb-lissitzky.png', width='200', height='200', alt='El Lissitzky Poster')
        .thumbs
          a(href='matter.html')
            img(src='images/thumb-matter.png', width='200', height='200', alt='Herbert Matter Poster')
        .thumbs
          a(href='bayer.html')
            img(src='images/thumb-bayer.png', width='200', height='200', alt='Herbert Bayer Poster')
        .thumbs
          a(href='lsu-art.html')
            img(src='images/thumb-soa.png', width='200', height='200', alt='LSU School of Art Identity and Promotion')
        .thumbs
          a(href='languages-matter.html')
            img(src='images/thumb-lang.png', width='200', height='200', alt='Language Matters Poster')
        .thumbs
          a(href='coad.html')
            img(src='images/thumb-coad.png', width='200', height='200', alt='College of Art & Design')
        .thumbs
          a(href='linotype.html')
            img(src='images/thumb-linotype.png', width='200', height='200', alt='Linotype Poster')
        .thumbs
          a(href='labouchere.html')
            img(src='images/thumb-lab.png', width='200', height='200', alt='Pierre Antoine Labouchere')
        .thumbs
          a(href='br-transit-tax.html')
            img(src='images/thumb-tax.png', width='200', height='200', alt='Baton Rouge Transit Tax')
        .thumbs
          a(href='gdh-series.html')
            img(src='images/thumb-gdhp.png', width='200', height='200', alt='Graphic Design History Timeline')
        .thumbs
          a(href='cct.html')
            img(src='images/thumb-cct.png', width='200', height='200', alt='Center for Computation & Technology')
    
    include includes/footer