extends includes/base

block selected
  selected = '/killer-poboys.html'

block main
  article
    h1 Killer Poboys
    p
      | My work explores the relationship between the universality of myth and life as performance.
      | With influences as diverse as Rousseau and Andy Warhol, new variations are created from both explicit and implicit narratives.
  .project
    img(src='images/kp-stationery.png', width='800', height='680', alt='Killer Poboys Stationery')
  .project
    img(src='images/kp-menu1.png', width='800', height='602', alt='Killer Poboys Menu')
  .project
    img(src='images/kp-menu2.png', width='800', height='601', alt='Killer Poboys Menu')
  .project
    img(src='images/kp-wont-ever.png', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-new-orleans.png', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-canon.png', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-coasters.png', width='800', height='241', alt='Killer Poboys Coasters')
  .project
    img(src='images/kp-tshirt.png', width='800', height='800', alt='Killer Poboys tshirt')

