extends includes/base

block selected
  selected = '/killer-poboys.html'

block main
  article
    h1 Killer Poboys
    h2 Identity Creation, Promotion Materials, Web Design &amp; Development&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Killer Poboys
    p
      | Killer Poboys adds an international twist to the traditional New Orleans Poboy sandwich, and is located in the heart of the French Quarter. 
    p
      | A combination of old New Orleans and contemporary culinary delights, the identity required a textured quality that evoked the gritty and unkept nature of the French Quarter as well as the crisp, modern feel of a contemporary eatery. Visual contrasts such as lavish white space and elegant typography fused together with an aggressive logo and dense smoke textures are perfect foils to communicate good ol' New Orleans food with a contemporary twist.

    p
      | Promotional material includes stationery, posters, merchandise and a one page website.

  .project
    img(src='images/kp-logo.png', width='800', height='400', alt='Killer Poboys Logo')
  .project
    img(src='images/kp-stationery.jpg', width='800', height='680', alt='Killer Poboys Stationery')
  .project
    img(src='images/kp-menu1.jpg', width='800', height='602', alt='Killer Poboys Menu')
  .project
    img(src='images/kp-menu2.jpg', width='800', height='601', alt='Killer Poboys Menu')
  .project
    img(src='images/kp-wont-ever.jpg', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-new-orleans.jpg', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-canon.jpg', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-coasters.jpg', width='800', height='241', alt='Killer Poboys Coasters')
  .project
    a(href='http://killerpoboys.com', target='_blank')
      img(src='images/kp-web.png', width='800', height='567', alt='Killer Poboys website')
  .project
    img(src='images/kp-tshirt.jpg', width='800', height='800', alt='Killer Poboys tshirt')

