extends includes/base

block selected
  selected = '/killer-poboys.html'

block main
  article
    h1 Killer Poboys
    h2 Identity Creation, Promotion Materials, Web Design &amp; Development&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Killer Poboys
    p
      | New Orleans is famous for many things, but in particular its food and eclectic culture. The concept behind the Killer Poboys identity was the iconic "Jolly Roger" skull and crossbones, which plays off the "Killer" in the name and the positive connotations of the word "killer" in modern language. 

      | Promotional material includes stationery, posters, merchandise and a one page website.
  .project
    img(src='images/kp-stationery.jpg', width='800', height='680', alt='Killer Poboys Stationery')
  .project
    img(src='images/kp-menu1.jpg', width='800', height='602', alt='Killer Poboys Menu')
  .project
    img(src='images/kp-menu2.jpg', width='800', height='601', alt='Killer Poboys Menu')
  .project
    img(src='images/kp-wont-ever.jpg', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-new-orleans.jpg', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-canon.jpg', width='800', height='800', alt='Killer Poboys Poster')
  .project
    img(src='images/kp-coasters.jpg', width='800', height='241', alt='Killer Poboys Coasters')
  .project
    img(src='images/kp-web.jpg', width='800', height='567', alt='Killer Poboys website')
  .project
    img(src='images/kp-tshirt.jpg', width='800', height='800', alt='Killer Poboys tshirt')

