extends includes/base

block selected
  selected = '/kinobi.html'

block main
  article
    h1 Kinobi
    h2 Identity Creation, Stationery, Web Design &amp; Development&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Kinobi Co 
    p
      | Kinobi is an online platform where people learn from instructional videos. What sets Kinobi apart from traditional video websites is a split screen feature where the users' webcam acts as a second video feed so they can see how well they're following the instructor video. 

      | Kinobi is a tech start-up recently graduated from the New Orleans <em>Launchpad</em> accelerator program and has exhibited on stage at <em>Tech Crunch Disrupt</em> in New York and San Francisco.
  .project
    img(src='images/kinobi1.png', width='800', height='185', alt='Kinobi')
  .project
    img(src='images/kinobi2.jpg', width='800', height='684', alt='Kinobi')
  .project
    a(href='http://kinobi.co', target='_blank')
      img(src='images/kinobi3.jpg', width='800', height='634', alt='Kinobi Website')



