extends includes/base

block selected
  selected = '/kinobi.html'

block main
  article
    h1 Kinobi
    p
      | My work explores the relationship between the universality of myth and life as performance.
      | With influences as diverse as Rousseau and Andy Warhol, new variations are created from both explicit and implicit narratives.
  .project
    img(src='images/kinobi-web.jpg', width='800', height='634', alt='Kinobi Website')



