extends includes/base

block selected
  selected = '/labouchere.html'

block main
  article
    h1 Pierre Antoine Labouchere
    h2 Hardcover Book printed in French&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Darius Spieth, Art Historian
    p
      | Pierre Antoine Labouchere was a nineteenth century artist, and this 104 page, full color book is a retrospective of Labouchere's life and work. After designing the book, I had the interesting experience of working with printers in France (where the book was printed), in order to determine file formats, color quality, and paper stock.
  .project
    img(src='images/lab1.jpg', width='390', height='314', alt='Pierre Antoine Labouchere')
    img(src='images/lab2.jpg', width='390', height='314', alt='Pierre Antoine Labouchere', style='padding-left: 15px;')
  .project
    img(src='images/lab3.jpg', width='390', height='314', alt='Pierre Antoine Labouchere')
    img(src='images/lab4.jpg', width='390', height='314', alt='Pierre Antoine Labouchere', style='padding-left: 15px;')
  .project
    img(src='images/lab5.jpg', width='800', height='366', alt='Pierre Antoine Labouchere')

