extends includes/base

block selected
  selected = '/languages-matter.html'

block main
  article
    h1 Languages Matter
    p
      | International Mother Language Day is recognition of the diversity of the written and spoken word around the world. The implied oversized quotation marks are made up of characters from the Latin, Baltic, Cirilic, Islamic, Hindi and Mandarin alphabets.
  .project
    img(src='images/languages.jpg', width='800', height='560', alt='Languages Matter')

