extends includes/base

block selected
  selected = '/linotype.html'

block main
  article
    h1 Mergenthaler's Linotype Machine
    p
      | I was inspired by the quote &quot;With Twenty Six Soldiers of Lead I will Conquer the World&quot;, and created a poster in homage to Ottmar Mergenthaler, the nineteenth century German clock maker and inventor of the Linotype metal typesetting machine.
  .project
    img(src='images/linotype.png', width='800', height='560', alt='Mergenthaler\'s Linotype Machine Poster')

