extends includes/base

block selected
  selected = '/linotype.html'

block main
  article
    h1 Mergenthaler's Linotype Machine
    h2 Print poster
    p
      | The quote &quot;With Twenty Six Soldiers of Lead I will Conquer the World&quot; inspired this poster about Ottmar Mergenthaler, the nineteenth century German clock maker and inventor of the Linotype metal typesetting machine.
  .project
    img(src='images/linotype.png', width='800', height='560', alt='Mergenthaler\'s Linotype Machine Poster')

