extends includes/base

block selected
  selected = '/lsu-art.html'

block main
  article
    h1 LSU School of Art
    h2 Branding, Promotion Materials, Signage&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: LSU School of Art
    p
      | The new brand identity for the Louisiana State University school of Art consists of a logotype, seven graphic symbols (one for each major concentration), a wide ranging color scheme, and textures formed by duplicating and overlaying the different graphic symbols. Promotional materials include a high school recruitment advertisment, curriculum booklets for each concentration, posters and postcards, as well as wearable items. The new identity was extended into wayfinding and signage systems for the three-floor Art building. During this project I was a lead designer/art director, within the Graphic Design Student Office (GDSO) at LSU.
  .project
    img(src='images/soa1.jpg', width='800', height='400', alt='LSU School of Art')
  .project
    img(src='images/soa3.jpg', width='800', height='235', alt='LSU School of Art')
  .project
    img(src='images/soa4.jpg', width='800', height='299', alt='LSU School of Art')
  .project
    img(src='images/soa2.jpg', width='800', height='242', alt='LSU School of Art')

