extends includes/base

block selected
  selected = '/lsu-art.html'

block main
  article
    h1 LSU School of Art
    h2 Branding, Promotion Materials, Signage&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Art Direction &amp; Lead Designer&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: LSU School of Art
    p
      | With a previous identity established in 1997, the School of Art identity and visual system required a fresh redesign. The School of Art contains seven major concentrations, and the most challenging aspect of the redesign was creating a visual system that reflected each of the concentrations – a diverse collection ranging from traditional drawing and painting to Graphic Design and Digital Media.
    p
      | The new identity consists of a logotype, seven graphic symbols (one for each major concentration), a wide ranging color scheme, and textures formed by duplicating and overlaying the different graphic symbols. Promotional materials include a high school recruitment advertisment, curriculum booklets for each concentration, posters and postcards, as well as wearable items.
    p
      | The new identity was extended into wayfinding and signage systems for the three buildings housing the School of Art departments and concentrations. 163 signs were designed for the various offices, studios, classrooms, and spaces.
    //- p
    //-   | The new brand identity for the Louisiana State University school of Art consists of a logotype, seven graphic symbols (one for each major concentration), a wide ranging color scheme, and textures formed by duplicating and overlaying the different graphic symbols. Promotional materials include a high school recruitment advertisment, curriculum booklets for each concentration, posters and postcards, as well as wearable items. The new identity was extended into wayfinding and signage systems for the three-floor Art building. During this project I was a lead designer/art director, within the Graphic Design Student Office (GDSO) at LSU.
  .project
    img(src='images/soa1.jpg', width='800', height='400', alt='LSU School of Art')
  .project
    img(src='images/soa3.jpg', width='800', height='235', alt='LSU School of Art')
  .project
    img(src='images/soa4.jpg', width='800', height='299', alt='LSU School of Art')
  .project
    img(src='images/soa2.jpg', width='800', height='242', alt='LSU School of Art')

