extends includes/base

block selected
  selected = '/matter.html'

block main
  article
    h1 Herbert Matter
    p
      | Inspired by one of three Graphic Design pioneers. Lissitzky, Bayer, and Matter are constant inspiration sources for me.
  .project
    img(src='images/herbertmatter.jpg', width='800', height='600', alt='Herbert Matter Poster')

