extends includes/base

block selected
  selected = '/oilspill.html'

block main
  article
    h1 Deep Negligence
    p
      | The BP oil spill in April 2010 commanded worldwide attention. This straight-to-the-point poster was selected for inclusion in the <em>Great Oil Leak 2010</em> exhibition, a traveling exhibition in Baton Rouge and Lafayette, LA.
  .project
    img(src='images/bp-oilspill.jpg', width='800', height='600', alt='BP Oil Spill Poster')







