extends includes/base

block selected
  selected = '/social-fabrics.html'

block main
  article
    h1 Social Fabrics
    h2 Promotion Materials, Apparel Design&nbsp;&nbsp;<span style='font-style:normal'>|</span>&nbsp;&nbsp;Client: Susan Ryan, Art Historian
    p
      | In a collaboration with faculty advisor Rod Parker, I designed promotional material for the Social Fabrics exhibition at the 2008 CAA conference in Dallas, TX. The promotional material comprised of a website, posters, trifold brochure, event banners and t-shirts. In addition, the exhibit was featured in the <em>Intelligent Agent</em> journal, for which I designed the cover sleeve.
  .project
    img(src='images/sf1.png', width='800', height='563', alt='Social Fabrics Promotion')
  .project
    img(src='images/sf2.png', width='800', height='193', alt='Social Fabrics Promotion')
  .project
    img(src='images/sf3.png', width='800', height='220', alt='Social Fabrics Promotion')





