extends base

block selected
  selected = '/br-transit-tax.html'

block main
  article
    h1 Baton Rouge Transit Tax Infographic
    p
      | My work explores the relationship between the universality of myth and life as performance.
      | With influences as diverse as Rousseau and Andy Warhol, new variations are created from both explicit and implicit narratives.
  .project
    img(src='images/catstax1.jpg', width='800', height='600', alt='Baton Rouge Transit Tax Infographic')
  .project
    img(src='images/catstax3.jpg', width='800', height='600', alt='Baton Rouge Transit Tax Infographic')
  .project
    img(src='images/catstax2.jpg', width='732', height='859', alt='Baton Rouge Transit Tax Infographic')

