extends base

block selected
  selected = '/coad.html'

block main
  article
    h1 LSU College of Art & Design Annual Report 2008
    p
      | The LSU College of Art and Design (CoAD) encompasses the schools of Architecture, Art, Landscape Architecture, and the department of Interior Design. The CoAD annual report surveys the events and achievements of the above schools and departments. This annual report is a 60 page, 3 color publication.
  .project
    img(src='images/coad1.jpg', width='390', height='293', alt='College of Art & Design Annual Report')
    img(src='images/coad2.jpg', width='390', height='293', alt='College of Art & Design Annual Report', style='padding-left: 15px;')
  .project
    img(src='images/coad3.jpg', width='800', height='437', alt='College of Art & Design Annual Report')
  .project
    img(src='images/coad4.jpg', width='800', height='429', alt='College of Art & Design Annual Report')

