extends base

block selected
  selected = '/kinobi.html'

block main
  article
    h1 GDHit (Graphic Design History Interactive Timeline)
    p
      | The Graphic Design History: Interactive Timeline (GDHit) intends to become a user-generated resource for students, faculty, graphic designers, and just about anyone who is interested in the history of graphic design. The timeline is filtered chronologically, displaying content initially by decade. From this start-point, users can view contributed articles via various categories of graphic design, events of graphic design, tagged words, or through searching the database.
    p
      | These options allow the user to navigate the history of graphic design in either linear or non-linear formats. Viewers to the timeline are able to contribute knowledgable content of their own by completing the simple "Add Content" form within the timeline toolbar.
  .project
    a(href='http://gdhit.org', target='_blank')
      img(src='images/gdhit.png', width='800', height='634', alt='Graphic Design History Interactive Timeline')




