extends base

block selected
  selected = '/matter.html'

block main
  article
    h1 Herbert Matter
    p
      | Every graphic designer has their favorite pioneers of the industry, and I am no different! The works and lives of Lasar El Lisstitzky, Herbert Bayer and Herbert Matter are constant sources of inspiration for me, and compelled me to create the following 3 posters.
  .project
    img(src='images/herbertmatter.jpg', width='800', height='600', alt='Herbert Matter Poster')

