script(type='text/javascript', src='js/jquery-1.7.2.min.js')
link(rel='stylesheet', type='text/css', href='css/styles.css')
script(type='text/javascript', src='//use.typekit.net/izl3ihj.js')
script(type='text/javascript')
  try{Typekit.load();}catch(e){}