script(type='text/javascript', src='js/jquery-1.7.2.min.js')
link(rel='stylesheet', type='text/css', href='css/styles.css')
link(rel="icon", href="images/favicon.png", type="image/png", size="16x16")

script(type='text/javascript', src='//use.typekit.net/izl3ihj.js')
script(type='text/javascript')
  try{Typekit.load();}catch(e){}